.column_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  /* Fill available space */
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
}

.column_header {
  @apply text-white text-base md:text-xl lg:text-2xl font-bold;
}

.column_link {
  @apply text-white font-normal text-sm md:text-base lg:text-lg;
}
